@{
    ViewBag.Title = "Home Page";
}

<div class="col">
    <h1>BizApp</h1>
    <p class="lead">Soluções digitais para causar impacto real na gestão de negócios e engajamento de clientes</p>
    <p><a href="https://bizapp.com.br/" class="btn btn-primary btn-lg">Acessar &raquo;</a></p>
</div>

<div class="col">
        <h2>Tecnologias orientadas por processos</h2>
        <p>
            Recursos que funcionam perfeitamente de maneira independente ou que, integrados, trazem a transformação digital de ponta a ponta ao negócio.
        </p>
</div>

<div class="col">
    <img src="~/Images/tecnologias.png" alt="tecnologia" />
</div>